extends master

block content
  .hero-unit
    h1 Shout-out
    p An application for er... shouting out

  .row
    .span4
      label Name
      input(type='text')
    .span8
      label Shout-out
      input(type='text')

  .row
    .span4
      h5 Rob Ashton
      p Omg this is a shout out
