extends master

block content
  .hero-unit
    h1 Shout-out
    p An application for er... shouting out

  .row
    .span4
      label Name
      input(type='text')
    .span4
      label Shout-out
      input(type='text')
    .span4
      input.btn-success.btn-large(type='submit', value='submit')
